name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: denolib/setup-deno@master
        with:
          deno-version: 0.38.0

      - run: deno --version
      - run: deno fmt --check

      - name: Start server
        run: deno --allow-net --allow-plugin --allow-read --allow-write --importmap=import_map.json main.ts &

      - name: Test
        run: deno test -A --importmap=import_map.json
